<div class="hero text-center">
  <div class="intro">
    <h1>Code and Launch 🚀</h1>
    <p>Premium Technical Skills Courses to Code and Launch Your Own Web Application.</p>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  </div>
</div>
<br>
<br>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3><i class="fa fa-video-camera fa-2x"></i></h3>
    <h3>Amazing Courses</h3>
    <br>
    <p>Step-by-step video instruction on how to build an awesome web application
       that looks good on mobile (responsive) and is live on the internet in one fun weekend.</p>
  </div>

  <div class="col-12 col-sm">
    <h3><i class="fa fa-television fa-2x"></i></h3>
    <h3>Learn at Your Own Pace</h3>
    <br>
    <p>Learn the latest technologies used by the best startups to build and launch
       products fast (Github, Heroku, AWS, Ruby on Rails, HTML5, CSS3, ...)</p>
  </div>

  <div class="col-12 col-sm">
    <h3><i class="fa fa-code fa-2x"></i></h3>
    <h3>Everything You Need</h3>
    <br>
    <p>All the code snippets, cheat sheets and notes you need to continue building
       applications on your own after the course is over.</p>
  </div>
</div>
