<div class="hero text-center">
  <div class="intro">
    <h1>Code and Launch 🚀</h1>
    <p>Premium Technical Skills Courses to Code and Launch Your Own Web Application.</p>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>
